@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

$raleway: "Raleway", serif;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $raleway;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.test {
  background-color: red;
}

textarea {
  display: block;
  resize: vertical;
}